@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background-color: #333;
  color: #fff;
  font-family: Arial, sans-serif;
}

h1 {
  color: #ffcc00;
}

.api_input_box {
  margin-bottom: 20px;
}

input[type="text"],
input[type="number"] {
  background-color: #444;
  color: #fff;
  border: 1px solid #666;
  padding: 8px 12px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  text-align: center;
  width: 60%;
  margin: 3px;
}

input[type="text"]:hover,
input[type="number"]:hover {
  background-color: #292929;
}

button {
  background-color: #ffcc00;
  color: #dfdfdf;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.7s ease;
}

button:hover {
  background-color: #ffdd33;
  color: #3d3d3d;
}

.cash_box,
.item_box,
.result_box {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 60px 60px;
  border:#666 solid 1px;
  border-radius: 10px;
  padding: 0 20px;
}

.gold_box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.item_item {
  background-color: #444;
  padding: 20px;
  border-radius: 10px;
  margin: 20px 0;
  width: 10%;
  transition: background-color 0.3s ease;
}

.cash_item {
  background-color: #444;
  padding: 20px;
  border-radius: 10px;
  margin: 20px 0;
  width: 20%;
  transition: background-color 0.3s ease;

}
.result_item {
  background-color: #444;
  padding: 20px;
  border-radius: 10px;
  margin: 20px 0;
  width: 20%;
  transition: background-color 0.3s ease;
}

.item_item:hover,
.cash_item:hover,
.result_item:hover {
  background-color: #555;
}

.title {
  color: #ffcc00;
  font-weight: bold;
}

.text {
  font-weight: 100;
}

img {
  max-width: 100%;
  height: auto;
}
